<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-twilio-video" version="3.3.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>TwilioVideo</name>
    <author>Okode</author>
    <license>MIT</license>
    <js-module name="twiliovideo" src="www/twiliovideo.js">
        <clobbers target="window.twiliovideo" />
    </js-module>
    <engines>
        <engine name="cordova" version=">=7.0.0" />
        <engine name="cordova-ios" version=">=5.0.0" />
    </engines>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="TwilioVideoPlugin">
                <param name="ios-package" value="TwilioVideoPlugin" />
            </feature>
        </config-file>
        <header-file src="src/ios/TwilioVideoPlugin.h" />
        <source-file src="src/ios/TwilioVideoPlugin.m" />
        <header-file src="src/ios/TwilioVideoPermissions.h" />
        <source-file src="src/ios/TwilioVideoPermissions.m" />
        <header-file src="src/ios/TwilioVideoViewController.h" />
        <source-file src="src/ios/TwilioVideoViewController.m" />
        <header-file src="src/ios/TwilioVideoManager.h" />
        <source-file src="src/ios/TwilioVideoManager.m" />
        <header-file src="src/ios/TwilioVideoConfig.h" />
        <source-file src="src/ios/TwilioVideoConfig.m" />
        <resource-file src="src/ios/Resources/TwilioVideo.storyboard" target="Resources/TwilioVideo.storyboard" />
        <resource-file src="src/ios/Resources/end_call.png" target="Resources/end_call.png" />
        <resource-file src="src/ios/Resources/end_call@2x.png" target="Resources/end_call@2x.png" />
        <resource-file src="src/ios/Resources/end_call@3x.png" target="Resources/end_call@3x.png" />
        <resource-file src="src/ios/Resources/mic.png" target="Resources/mic.png" />
        <resource-file src="src/ios/Resources/mic@2x.png" target="Resources/mic@2x.png" />
        <resource-file src="src/ios/Resources/mic@3x.png" target="Resources/mic@3x.png" />
        <resource-file src="src/ios/Resources/no_mic.png" target="Resources/no_mic.png" />
        <resource-file src="src/ios/Resources/no_mic@2x.png" target="Resources/no_mic@2x.png" />
        <resource-file src="src/ios/Resources/no_mic@3x.png" target="Resources/no_mic@3x.png" />
        <resource-file src="src/ios/Resources/video.png" target="Resources/video.png" />
        <resource-file src="src/ios/Resources/video@2x.png" target="Resources/video@2x.png" />
        <resource-file src="src/ios/Resources/video@3x.png" target="Resources/video@3x.png" />
        <resource-file src="src/ios/Resources/no_video.png" target="Resources/no_video.png" />
        <resource-file src="src/ios/Resources/no_video@2x.png" target="Resources/no_video@2x.png" />
        <resource-file src="src/ios/Resources/no_video@3x.png" target="Resources/no_video@3x.png" />
        <resource-file src="src/ios/Resources/switch_camera.png" target="Resources/switch_camera.png" />
        <resource-file src="src/ios/Resources/switch_camera@2x.png" target="Resources/switch_camera@2x.png" />
        <resource-file src="src/ios/Resources/switch_camera@3x.png" target="Resources/switch_camera@3x.png" />

        <framework src="TwilioVideo" type="podspec" spec="2.5.6"/>
        <podspec>
            <config>
                <source url="https://cdn.cocoapods.org/"/>
            </config>
            <pods>
                <pod name="TwilioVideo" spec="2.5.6"/>
            </pods>
        </podspec>

    </platform>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="TwilioVideoPlugin">
                <param name="android-package" value="org.apache.cordova.twiliovideo.TwilioVideo" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="org.apache.cordova.twiliovideo.TwilioVideoActivity" android:configChanges="orientation|screenSize" android:theme="@style/Theme.AppCompat.Light.Translucent"></activity>
        </config-file>
        <source-file src="src/android/FakeR.java" target-dir="src/org/apache/cordova/twiliovideo" />
        <source-file src="src/android/TwilioVideo.java" target-dir="src/org/apache/cordova/twiliovideo" />
        <source-file src="src/android/TwilioVideoActivity.java" target-dir="src/org/apache/cordova/twiliovideo" />
        <source-file src="src/android/CallEvent.java" target-dir="src/org/apache/cordova/twiliovideo" />
        <source-file src="src/android/TwilioVideoManager.java" target-dir="src/org/apache/cordova/twiliovideo" />
        <source-file src="src/android/CallEventObserver.java" target-dir="src/org/apache/cordova/twiliovideo" />
        <source-file src="src/android/CallActionObserver.java" target-dir="src/org/apache/cordova/twiliovideo" />
        <source-file src="src/android/CallConfig.java" target-dir="src/org/apache/cordova/twiliovideo" />
        <source-file src="src/android/CameraCapturerCompat.java" target-dir="src/org/apache/cordova/twiliovideo" />

        <framework src="com.google.android.gms:play-services-gcm:+" />
        <framework src="com.android.support:appcompat-v7:26+" />
        <framework src="src/android/twiliovideo.gradle" custom="true" type="gradleReference" />
        
        <resource-file src="src/android/res/drawable/ic_call_black_24dp.xml" target="res/drawable/ic_call_black_24dp.xml" />
        <resource-file src="src/android/res/drawable/ic_call_end_white_24px.xml" target="res/drawable/ic_call_end_white_24px.xml" />
        <resource-file src="src/android/res/drawable/ic_call_white_24px.xml" target="res/drawable/ic_call_white_24px.xml" />
        <resource-file src="src/android/res/drawable/ic_mic_green_24px.xml" target="res/drawable/ic_mic_green_24px.xml" />
        <resource-file src="src/android/res/drawable/ic_mic_off_red_24px.xml" target="res/drawable/ic_mic_off_red_24px.xml" />
        <resource-file src="src/android/res/drawable/ic_switch_camera_512dp.xml" target="res/drawable/ic_switch_camera_512dp.xml" />
        <resource-file src="src/android/res/drawable/ic_videocam_green_24px.xml" target="res/drawable/ic_videocam_green_24px.xml" />
        <resource-file src="src/android/res/drawable/ic_videocam_off_red_24px.xml" target="res/drawable/ic_videocam_off_red_24px.xml" />
		<resource-file src="src/android/res/drawable/ic_phonelink_ring_white_24dp.xml" target="res/drawable/ic_phonelink_ring_white_24dp.xml" />
		<resource-file src="src/android/res/drawable/ic_volume_up_white_24dp.xml" target="res/drawable/ic_volume_up_white_24dp.xml" />
        <resource-file src="src/android/res/drawable/ic_volume_headhphones_white_24dp.xml" target="res/drawable/ic_volume_headhphones_white_24dp.xml" />

        <resource-file src="src/android/res/layout/activity_video.xml" target="res/layout/activity_video.xml" />
        <resource-file src="src/android/res/layout/content_video.xml" target="res/layout/content_video.xml" />
      
        <resource-file src="src/android/res/values/colors.xml" target="res/values/colors.xml" />
        <resource-file src="src/android/res/values/dimens.xml" target="res/values/dimens.xml" />
        <resource-file src="src/android/res/values/strings.xml" target="res/values/strings.xml" />
        <resource-file src="src/android/res/values/styles.xml" target="res/values/styles.xml" />

        <resource-file src="src/android/res/values-v21/styles.xml" target="res/values-v21/styles.xml" />
        <resource-file src="src/android/res/values-w820dp/dimens.xml" target="res/values-w820dp/dimens.xml" />

    </platform>
</plugin>
